TEMPLATESHARP_CS = \
    Template.Text/ICompiledTemplate.cs \
    Template.Text/ITemplateEngine.cs \
    Template.Text/SimpleDataLookup.cs \
    Template.Text/TemplateEngineV1.cs \
    Template.Text/TemplateCompilationException.cs \
    Template.Text/Templates.cs

TEMPLATESHARP_ASSEMBLYINFO = \
    AssemblyInfo.cs

TEMPLATESHARP_TESTS = \
    Template.Text/Tests/TemplateEngineV1Test.cs
