TEMPLATESHARP_CS = \
    Template.Text/CompiledTemplate.cs \
    Template.Text/ExpressionExtensions.cs \
    Template.Text/ICompiledTemplate.cs \
    Template.Text/ITemplateEngine.cs \
    Template.Text/MemberLookup.cs \
    Template.Text/SimpleDataLookup.cs \
    Template.Text/TemplateCompilationException.cs \
    Template.Text/TemplateEngineV1.cs \
    Template.Text/TemplateParameter.cs \
    Template.Text/Templates.cs

TEMPLATESHARP_ASSEMBLYINFO = \
    AssemblyInfo.cs

TEMPLATESHARP_TESTS = \
    TemplateSharp.Test/Artist.cs \
    TemplateSharp.Test/Album.cs \
    TemplateSharp.Test/CompiledTemplateTest.cs \
    TemplateSharp.Test/MemberLookupTest.cs \
    TemplateSharp.Test/SimpleDataLookupTest.cs \
    TemplateSharp.Test/Song.cs \
    TemplateSharp.Test/TemplateEngineV1Test.cs

TEMPLATESHARP_REFS = \
	System \
	Mono.Posix \
	System.Core

TEMPLATESHARP_TEST_REFS = \
    $(NUNIT_LIBS)

TEMPLATESHARP_MARKDOWNTARGETS = README

TEMPLATESHARP_MARKDOWNHTMLS = $(addsuffix .html, $(TEMPLATESHARP_MARKDOWNTARGETS))

TEMPLATESHARP_MARKDOWNS = $(addsuffix .md, $(TEMPLATESHARP_MARKDOWNTARGETS))
